.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    max-width: 140px;
  }

  .formBox {
    background-color: var(--grey-3);
    border-radius: 4px;
    box-shadow: 0px 4px 40px -10px #00000040;
    padding: 42px 22px;

    h3 {
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      margin-top: 20px;
      margin-bottom: 14px;
      text-align: center;
    }
  }
}
