.section {
  margin-top: 25px;

  .flexbox {
    display: flex;
    flex-direction: column;
    gap: 21px;

    // @media (max-width: 480px) {
    //   display: none;
    // }

    h3 {
      font-size: clamp(0.9rem, 4vw, 1.125rem);
    }
    p {
      font-size: clamp(0.6rem, 4vw, 1rem);
    }
  }
}
