.section {
  margin-top: 25px;
  padding: clamp(0.8rem, 4vw, 1.8rem);

  .flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 17px;

    button {
      color: white;
    }

    h3 {
      font-size: clamp(0.9rem, 4vw, 1.125rem);
    }
    p {
      font-size: clamp(0.6rem, 4vw, 1rem);
    }
  }
}
