.section {
  margin-top: 25px;
  padding: clamp(0.8rem, 4vw, 1.8rem);

  .flexbox {
    display: flex;
    flex-direction: column;
    gap: 17px;

    h3 {
      font-size: clamp(0.9rem, 4vw, 1.125rem);
    }
    p {
      font-size: clamp(0.6rem, 4vw, 1rem);
    }
  }
}
