%buttonDefaults {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-primary);
  border-radius: 4px;
  transition: 0.4s;
}

.buttonForm {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1rem;
  height: 3rem;
  padding: 0 22px;
  width: 100%;
  @extend %buttonDefaults;

  &.signup {
    background-color: var(--color-primary-negative);
    border: 1px solid var(--color-primary-negative);
    color: #ffff;
    margin-top: 18px;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &.login {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #ffff;
    margin-top: 18px;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &.moveToSignup {
    background-color: var(--grey-1);
    border: 1px solid var(--grey-1);
    color: var(--grey-0);
    margin-top: 12px;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.buttonNavigation {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.75rem;
  background-color: var(--grey-3);
  color: var(--grey-0);
  @extend %buttonDefaults;

  &.logout {
    padding: 0 16px;
    height: 2rem;

    &.hover {
      filter: brightness(1.1);
    }
  }

  &.returnToLogin {
    padding: 0 16px;
    height: 2.5rem;

    &.hover {
      filter: brightness(1.1);
    }
  }
}
