.label {
  font-family: var(--font-primary);
  font-size: 0.7612rem;
  font-weight: 400;
  color: var(--grey-0);
}

.headerForms {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--grey-0);
}
