.selectBox {
  select {
    margin-top: 11px;
    width: 100%;
    font-family: var(--font-primary);
    padding: 0 16px;
    height: 3rem;
    font-size: 1.0156rem;
    font-weight: 400;
    color: var(--grey-1);
    background-color: var(--grey-2);
    border-radius: 0.25rem;
    border: 1px solid var(--grey-2);
  }
}
