.selectBox {
  select {
    margin-top: 11px;
    width: 100%;
    font-family: var(--font-primary);
    padding: 0 16px;
    height: 3rem;
    font-size: clamp(0.5rem, 4vw, 1rem);
    font-weight: 400;
    color: var(--grey-1);
    background-color: var(--grey-2);
    border-radius: 0.25rem;
    border: 1px solid var(--grey-2);

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      border: 1px solid var(--grey-0);
    }
  }

  .validationWarning {
    display: flex;

    p {
      margin-top: 8px;
    }
  }
}
