.techItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 12px;
  background-color: var(--grey-4);
  border-radius: 4px;
  margin-bottom: 20px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .techIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
  }

  .icons {
    gap: 20px;
    display: flex;

    @media (max-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.iconsCard {
  display: flex;
  gap: 20px;
  width: clamp(0px, 100%, 400px);
}
