.techList {
  margin-top: 40px;
  width: 100%;
  background-color: var(--grey-3);
  padding: 30px 20px;
  border-radius: 4px;
}

.emptyTech {
  font-size: clamp(1rem, 4vw, 1.4rem);
  margin-top: 45px;
  color: var(--grey-0);
  text-align: center;
}
